# Environments
.env
.venv
env/
venv/
ENV/
evn.bak/
venv.bak/

# Operating system files
.idea
.DS_Store            # macOS folder attribute files
Thumbs.db            # Windows image file cache
ehthumbs.db          # Wizndows 'eh' thumbs db files